/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #fdd835;
  }

  ul {
    list-style-type: square;
    padding: 0 0 0 20px;
  }
  
  /* Orders Container */
  .orders-container, .item-details {
    max-height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .completed-orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  /* Order Card */
  .order-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 7px;
    padding: 7px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

  .order-card img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: contain; /* Preserve aspect ratio and cover the entire container */
    border-radius: 8px;
  }

  
  .order-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .food-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 7px;
  }
  
  .order-details p {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }

  .order-details ul {
    list-style-type: disc;
    padding: 0 0 0 20px;
  }

  .order-details li {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  
  .table-no {
    display: inline-flex;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .order-card {
      width: 90%;
    }
  }

  .toggle-slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .toggle-slider input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #3adda4;
  }
  
  input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  /* .completed {
    background-color: #66b1bd;
  } */
  